html
{
    height: 100vh;
    background: #333333;
}
body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
  margin: 0;
}

.main-container
{
  margin-top: 3vw;
}

.brand-name
{
  font-family: 'Playfair Display', serif;
  font-size: calc(3vw + 80px);
  opacity: .8;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}

.logo
{
  width: 100%;
}

.logo-container
{
  padding: 3vw;
  position: relative;
}

.divider
{
  border-left: solid 2px #333333;
}

.right-container,
.middle-container
{
  padding: 1em;
}

.right-container p,
.middle-container p
{
  font-size: calc(.5vw + 18px);
  font-weight: 300;
  font-style: italic;
}

h1
{
  font-weight: 300;
  font-size: calc(1.2vw + 24px);
  color: #FEBF24;
  margin-top: 0;
}

h2
{
  font-weight: 300;
  font-size: calc(1vw + 20px);
  color: #ED3794;
}

a.gitlab-link .p-grid .p-col-4,
a.gitlab-link .p-grid .p-col-8,
a.gitlab-link .p-grid p
{
  margin: 0;
  padding: 0;
}

a.gitlab-link,
a.gitlab-link:visited
{
  color: white;
  text-decoration: none;
}

a.gitlab-link:hover
{
  text-decoration: underline;
}

p.git-lab-desc
{
  font-size: calc(.3vw + 16px);
  color: #ED3794;
  margin-bottom: 0;
}

p.future-text
{
  font-size: calc(.5vw + 14px);
}

.footer
{
  padding: 2vw 4vw;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;/*'Great Vibes', cursive;*/
  font-size: calc(3vw + 18px);
  background: #333333;
  color: #ED3794;
}

.footer a,
.footer a:visited
{
  color: #FEBF24;
  text-decoration: none;
}

.footer a:hover
{
  text-decoration: underline;
}

p.video-caption
{
  font-size: calc(.3vw + 16px);
  color: #FEBF24;
}

.embed-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(max-width: 767px)
{
  .logo-container,
  .middle-container
  {
    border-bottom: solid #333333 2px;
  }

  .middle-container,
  .right-container
  {
    border-left: none;
  }

  .middle-container
  {
    order: 3;
  }

  .right-container
  {
    order: 2;
  }
}